## IMPORT THƯ VIỆN

In [1]:
import pandas as pd
import numpy as np

## Bài 1: Hiển thị toàn bộ dữ liệu

In [2]:
data = pd.read_csv("P4AI_BT1.csv")
display(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

## Bài 2: Điền các giá trị bị thiếu của dữ liệu theo phương pháp trung bình với các trường có giá trị số và theo phương pháp tần số cao nhất với giá trị rời rạc

### Phương pháp trung bình

In [3]:
df1 = data.copy()

# Tiến hành thay giá trị 'NaN' bằng giá trị trung bình
#fillna: Hàm điền giá trị NaN
#mode: Hàm lấy giá trị có tần số xuất hiện lớn nhất

df1['sepal.length'].fillna(df1['sepal.length'].mode()[0], inplace = True)
df1['sepal.width'].fillna(df1['sepal.width'].mode()[0], inplace = True)
df1['petal.length'].fillna(df1['petal.length'].mode()[0], inplace = True)
df1['petal.width'].fillna(df1['petal.width'].mode()[0], inplace = True)
display(df1.isna().sum())

sepal.length     0
sepal.width      0
petal.length     0
petal.width      0
variety         15
dtype: int64

### Phương pháp tần số cao nhất

In [4]:
df1 = data.copy()

# Tiến hành thay giá trị 'NaN' bằng giá trị trung bình
#fillna: Hàm điền giá trị NaN
#mode: Hàm lấy giá trị có tần số xuất hiện lớn nhất

df1['sepal.length'].fillna(df1['sepal.length'].mode()[0], inplace = True)
df1['sepal.width'].fillna(df1['sepal.width'].mode()[0], inplace = True)
df1['petal.length'].fillna(df1['petal.length'].mode()[0], inplace = True)
df1['petal.width'].fillna(df1['petal.width'].mode()[0], inplace = True)

display(df1.isna().sum())

sepal.length     0
sepal.width      0
petal.length     0
petal.width      0
variety         15
dtype: int64

## Bài 3: Hiển thị các bản ghi có sepal.length > 5 và sepal.width > 3

In [6]:
df2 = df1[(df1['sepal.length'] > 5) & (df1['sepal.width'] > 3)];
display(df2)

     sepal.length  sepal.width  petal.length  petal.width     variety
0             5.1          3.5           1.4          0.2      Setosa
5             5.4          3.9           1.7          0.4      Setosa
6             5.1          3.4           1.4          0.3      Setosa
7             5.1          3.4           1.5          0.2      Setosa
10            5.4          3.7           1.5          0.2      Setosa
15            5.7          4.4           1.5          0.2      Setosa
16            5.4          3.9           1.3          0.4      Setosa
17            5.1          3.5           1.4          0.3         NaN
18            5.7          3.8           1.7          0.2      Setosa
19            5.1          3.8           1.5          0.3      Setosa
20            5.4          3.4           1.4          0.2      Setosa
21            5.1          3.7           1.4          0.4      Setosa
23            5.1          3.3           1.7          0.5      Setosa
27            5.2          3.5           1.5          0.2         NaN
28            5.2          3.4           1.4          0.2      Setosa
31            5.4          3.4           1.5          0.4      Setosa
32            5.2          4.1           1.5          0.1      Setosa
33            5.5          4.2           1.4          0.2         NaN
36            5.5          3.5           1.3          0.2      Setosa
39            5.1          3.4           1.5          0.2      Setosa
43            5.1          3.5           1.6          0.6      Setosa
44            5.1          3.8           1.9          0.2      Setosa
46            5.1          3.8           1.6          0.2      Setosa
47            5.1          3.2           1.4          0.2      Setosa
48            5.3          3.7           1.5          0.2      Setosa
50            7.0          3.2           4.7          1.4         NaN
51            6.4          3.2           4.5          0.2  Versicolor
52            5.1          3.1           4.9          1.5  Versicolor
56            6.3          3.3           4.7          1.6  Versicolor
65            6.7          3.1           4.4          1.4  Versicolor
70            5.9          3.2           4.8          1.8         NaN
85            5.1          3.4           4.5          1.6  Versicolor
86            6.7          3.1           4.7          1.5  Versicolor
100           6.3          3.3           6.0          0.2   Virginica
110           6.5          3.2           5.1          2.0   Virginica
115           6.4          3.2           5.3          2.3         NaN
117           7.7          3.8           6.7          2.2   Virginica
120           6.9          3.2           5.7          2.3   Virginica
124           6.7          3.3           5.7          2.1   Virginica
125           7.2          3.2           6.0          1.8   Virginica
131           7.9          3.8           6.4          2.0   Virginica
136           6.3          3.4           5.6          2.4   Virginica
137           6.4          3.1           5.5          1.8   Virginica
139           6.9          3.1           5.4          0.2   Virginica
141           6.9          3.1           5.1          2.3   Virginica
143           6.8          3.2           5.9          2.3   Virginica
148           5.1          3.4           1.4          2.3   Virginica

## Bài 4: Chuẩn hóa dữ liệu theo min max

In [8]:
df2 = df1.copy()

sepal_length_max = df2["sepal.length"].max()
sepal_length_min = df2["sepal.length"].min()
sepal_width_max = df2["sepal.width"].max()
sepal_width_min = df2["sepal.width"].min()
petal_length_max = df2["petal.length"].max()
petal_length_min = df2["petal.length"].min()
petal_width_max = df2["petal.width"].max()
petal_width_min = df2["petal.width"].min()

df2['sepal.length'] = (df2['sepal.length'] - sepal_length_min)/(sepal_length_max - sepal_length_min)
df2['sepal.width'] = (df2['sepal.width'] - sepal_width_min)/(sepal_width_max - sepal_width_min)
df2['petal.length'] = (df2['petal.length'] - petal_length_min)/(petal_length_max - petal_length_min)
df2['petal.width'] = (df2['petal.width'] - petal_width_min)/(petal_width_max - petal_width_min)

display(df2)

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.067797     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.041667     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.416667      0.677966     0.750000  Virginica
147      0.222222     0.416667      0.711864     0.791667  Virginica
148      0.222222     0.583333      0.067797     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

## Bài 5: Liên tục hóa thuộc tính variety

In [9]:
df3 = df2.copy()
# Kiểm tra các thông tin có trong trường "variety"
df3['variety'].unique()

# Đưa thuộc tính variety về dạng One-hot Encoder
dummies = pd.get_dummies(df3['variety'])

# Thực hiện nối các trường dữ liệu ở dạng One-Hot với dữ liệu ban đầu
df3 = pd.concat([df3,dummies], axis=1)
df3.drop('variety', axis=1, inplace=True)
display(df3)

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,0.222222,0.625000,0.067797,0.041667,True,False,False
1,0.166667,0.416667,0.067797,0.041667,True,False,False
2,0.111111,0.500000,0.050847,0.041667,True,False,False
3,0.083333,0.458333,0.084746,0.041667,True,False,False
4,0.194444,0.666667,0.067797,0.041667,True,False,False
...,...,...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,False,False,True
146,0.555556,0.416667,0.677966,0.750000,False,False,True
147,0.222222,0.416667,0.711864,0.791667,False,False,True
148,0.222222,0.583333,0.067797,0.916667,False,False,True
149,0.444444,0.416667,0.694915,0.708333,False,False,True

## Bài 6: Rời rạc hóa thuộc tính sepal.length

In [10]:
df4 = df3.copy();

df4['sepal.length'] = pd.cut(df4["sepal.length"],
       bins=[-0.1, 0.2, 0.4, 0.6, 0.8, 1],
       labels=["Very Short", "Short", "Medium", "Long", "Very Long"])

display(df4)

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,Short,0.625000,0.067797,0.041667,True,False,False
1,Very Short,0.416667,0.067797,0.041667,True,False,False
2,Very Short,0.500000,0.050847,0.041667,True,False,False
3,Very Short,0.458333,0.084746,0.041667,True,False,False
4,Very Short,0.666667,0.067797,0.041667,True,False,False
...,...,...,...,...,...,...,...
145,Long,0.416667,0.711864,0.916667,False,False,True
146,Medium,0.416667,0.677966,0.750000,False,False,True
147,Short,0.416667,0.711864,0.791667,False,False,True
148,Short,0.583333,0.067797,0.916667,False,False,True
149,Medium,0.416667,0.694915,0.708333,False,False,True

## Bài 7: Lấy mẫu ngẫu nhiên có lặp lại 50% dữ liệu

In [11]:
df5 = df4.sample(frac=0.5, replace=True)
display(df5)

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
103,Medium,0.416667,0.779661,0.708333,False,False,True
76,Long,0.333333,0.644068,0.541667,False,True,False
104,Short,0.416667,0.813559,0.875000,False,False,True
90,Short,0.250000,0.576271,0.458333,False,True,False
29,Very Short,0.500000,0.101695,0.041667,True,False,False
...,...,...,...,...,...,...,...
98,Short,0.208333,0.338983,0.416667,False,True,False
73,Medium,0.333333,0.627119,0.458333,False,True,False
128,Medium,0.333333,0.779661,0.833333,False,False,True
77,Long,0.416667,0.677966,0.666667,False,True,False
30,Very Short,0.458333,0.101695,0.041667,True,False,False